// Developer Variable
// Gray
$gray-100: #f9f9f9;
$gray-600: #666666;
$gray-800: #1a2225;

// Other Colors
$blue: #574186;
$red: #ce1a21;
$red-light: #c26565;
$yellow: #f48120;
$pink: #ea4c89;
$pink-light: tint-color($pink, .5);
$cyan: #3d84c5;
$cyan-dark: #6574c2;

// Theme Color
$primary: $blue;
$secondary: $gray-600;
$success: $pink;
$success-light: $pink-light;
$info: $cyan;
$info-dark: $cyan-dark;
$warning: $yellow;
$danger: $red;
$danger-light: $red-light;
$light: $gray-100;
$dark: $gray-800;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "success-light": $success-light,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "danger-light": $danger-light,
  "light": $light,
  "dark": $dark,
);
// scss-docs-end theme-colors-map

// body color
$body-color: $gray-600;
$heading-color: $gray-800;

$borderColor: #ebebeb;

$boxshadow: rgba(0, 0, 0, .15);

$camel: #c19a6b;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-negative-margins: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 1.8,
  7: $spacer * 2.1,
  8: $spacer * 2.4,
  9: $spacer * 2.7,
  10: $spacer * 3,
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);
// scss-docs-end grid-breakpoints

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1440px,
);
// scss-docs-end container-max-widths

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2.14285rem;

//
$gutters: $spacers;

// Transition
$transition-base: all .3s ease 0s;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-enable value-keyword-case
$font-family-base: "Roboto", sans-serif;

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-base: 0.875rem;
//
//
$line-height-base: 1.714;
//
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Button 设置

// // Default
// $btn-padding-y: 1.125rem;
// $btn-padding-x: 2rem;
// $btn-font-size: 14px;
// $btn-line-height: 1;

// // Small
// $btn-padding-y-sm: 0.9375rem;
// $btn-padding-x-sm: 1.75rem;
// $btn-font-size-sm: 14px;

// // Large
// $btn-padding-y-lg: 1.1rem;
// $btn-padding-x-lg: 2.25rem;
// $btn-font-size-lg: 14px;

// // Others
// $btn-font-weight: 700;
// $btn-border-radius: 5px;
// $btn-border-radius-sm: 5px;
// $btn-border-radius-lg: 5px;


// $input-btn-focus-box-shadow: 0;
// $input-btn-focus-color: none;
// $btn-close-opacity: 1;
// $btn-focus-width: 0;



// // Pagination

$pagination-padding-y: 0px;
$pagination-padding-x: 0px;
$pagination-color: $dark;
$pagination-bg: #f6f6f6;
// $pagination-border-radius: $border-radius !default;
// $pagination-margin-start: -$pagination-border-width !default;
$pagination-border-color: #f6f6f6;

$pagination-hover-color: #fff;
$pagination-hover-bg: $success;
$pagination-hover-border-color: $success;

$pagination-active-color: #fff;
$pagination-active-bg: $success !important;
$pagination-active-border-color: $success;






// // $border-width :0;


// // List group

// $list-group-color: $dark;
// $list-group-border-color: #cccccc;

// $list-group-item-padding-y: 15px;
// $list-group-item-padding-x: 0px;

// // Badges

// $badge-font-size: 12px;
// $badge-font-weight: 400;
// $badge-padding-y: 3px;
// $badge-padding-x: 6px;
// $badge-border-radius: 2px;


// $btn-close-hover-opacity: 1;

// $border-radius: 4px;

// // Forms

// $input-group-addon-padding-y: 0;
// $input-group-addon-padding-x: 0;
// $form-select-bg: $gray-100;
// $input-group-addon-bg: #fff;

// $input-btn-padding-y: 0.9375rem;
// $input-btn-padding-x: 0.9375rem;

// $input-color: $body-color;
// $input-border-color: $inputBorder-color;

// $input-border-radius: $border-radius;

// $input-placeholder-color: #a6a6a6;

// $accordion-color: $dark;

// $accordion-padding-y: 0px;
// $accordion-padding-x: 0px;

// // pagination