.categories-carousel {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 20px 10px;
}
.categories-carousel2 {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 20px 10px;
}
.categories-carousel3 {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 20px 10px;
}

.categories-carousel-item {
  margin-bottom: -18px;
}

.categories-carousel4 {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 20px 10px;
  .categories-carousel-item {
    margin-bottom: -30px;
  }

  .categories-card-list {
    margin-bottom: 30px;
  }
}
