/*------------------*
# Shop Pages
*------------------*/
.tab-content .tab-pane.active .grid-view .product-card {
  animation: zoomIn 0.5s ease;
  animation-duration: 1s;
}
.tab-content .tab-pane.active .grid-view-list .col-12 {
  animation: fadeInRight 0.5s ease;
  animation-duration: 1s;
}
.grid-view-five-column {
  .col-xl-3 {
    @include min-screen(1200) {
      flex: 0 0 auto;
      width: 20%;
    }
  }
}

.grid-view-list {
  .product-card {
    display: flex;
    @include max-screen(575) {
      flex-direction: column;
    }
    .product-thumb-nail {
      @include max-screen(575) {
        text-align: center;
      }

      @include max-screen(576, 767) {
        max-width: 200px;
        flex: 200px;
      }
      .product-image-hover-style {
        @include max-screen(575) {
          display: block;
          right: 0;
          margin: 0 auto;
        }
      }
    }
    .product-cart-btn-wrap {
      display: inline-block;
      position: static;
      transform: translate(0, 0px);
      opacity: 1;
      .add-to-cart-btn {
        padding: 15px 25px;
      }
    }
    p {
      margin: 30px 0px;
    }
    &::after {
      display: none;
    }
    .product-content {
      flex: 1;
    }
  }
}
.nav-tabs {
  border-bottom: 0px;
}

.grid-nav-wraper {
  padding: 10px 30px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 30px;
}

.shop-grid-nav .nav .nav-item {
  & + .nav-item {
    margin-left: 15px;
  }
  line-height: 1;
}

.total-products {
  margin-left: 50px;
  line-height: 20px;
  font-size: 14px;
  padding: 5px;
  color: $dark;
  @include max-screen(992, 1199) {
    margin-left: 30px;
  }
  @include max-screen(991) {
    margin-left: 20px;
  }
}

.shop-grid-nav .nav .nav-link {
  color: #a5a8a9;
  padding: 0;
  text-align: center;
  background: $white;
  font-size: 30px;
  line-height: 1;
  border: 0px;
  border-radius: 4px;
}

.shop-grid-nav .nav .nav-link.active,
.shop-grid-nav .nav .nav-link:hover {
  color: $success;
}

.shop-grid-button select {
  width: 100%;
  height: auto;
  border: 1px solid $border-color;
  background: $white;
  padding: 2px 15px;
  line-height: 24px;
  font-size: 14px;
  color: $dark;
  text-align: left;
  border-radius: 30px;
}

.product-option {
  position: relative;
  select {
    border: 1px solid $border-color;
    background: $white;
    padding: 2px 15px;
    line-height: 24px;
    font-size: 14px;
    color: $dark;
    text-align: left;
    text-transform: uppercase;
    width: 70px;
    height: 40px;
    &:focus {
      border-color: #e5e5e5;
    }
  }
  .chevron-arrow-down {
    position: absolute;
    right: 15px;
    font-size: 20px;
  }
}

.shop-grid-menu {
  background: $white;
  width: calc(100% - 145px);
  border: 1px solid $border-color;
}

.shop-grid-menu .dropdown-item {
  line-height: 24px;
  font-size: 14px;
  padding: 3px 15px;
  color: $dark;
}

.shop-grid-menu .dropdown-item:hover {
  background: $warning;
  color: $white;
}

.sort-by {
  min-width: 70px;
  line-height: 20px;
  font-size: 14px;
  padding: 5px;
  margin-left: 50px;
  color: $dark;
  @include max-screen(991) {
    margin-left: 0px;
  }
}

.shop-grid-button {
  position: relative;

  .form-select {
    &:focus {
      border-color: #e5e5e5;
    }
  }

  .chevron-arrow-down {
    position: absolute;
    right: 20px;
    font-size: 20px;
  }
}

.shop-grid-5 {
  .col-xl-2 {
    @include min-screen(1200) {
      width: 20%;
    }
  }
}

.Showing {
  color: $dark;
}
/*------------------*
   # Shop Pages End
   *------------------*/
